<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeG_6F09-cSX8zNDyx5TQ5GOoZP3g5yHI</string>
	<key>GCM_SENDER_ID</key>
	<string>649934064599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Iccyan21.OpenChallenge</string>
	<key>PROJECT_ID</key>
	<string>openchallenge-249f1</string>
	<key>STORAGE_BUCKET</key>
	<string>openchallenge-249f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649934064599:ios:827e8a069b86437d481992</string>
</dict>
</plist>